/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require simple_calendar
 *= require_self
 */

.content {
   background-color: #e0eefd;
   padding: 40px;
 }

.simple-calendar {

  background-color: #eee;
  padding-top: 15px;

  .table {
    table-layout: fixed;
    margin-bottom: 0 !important;

    tbody {
      tr {
        td:hover {
          cursor: pointer;
        }
        td {
          padding: 2px 6px;
          position: relative;
          border: 1px solid #e0e0e0;
          height: 70px;
          overflow: hidden;

          .calendar-day {

          }

          .events-day-list {
            color: #7e7e7e;

            li:before {
             content: '-';
            }
          }

          &:hover {
            cursor: normal;
            background-color: #f7f7f7;
          }

          &:first-child {border-left: 0;}
          &:last-child {border-right: 0;}
        }

        &:first-child td {
          border-top: 0;
        }
        &:last-child td {
          border-bottom: 0;
        }
      }
    }
  }
}

ul.pager {
  padding-left: 0;

  li {
    list-style: none;
    text-align: center;

    .date {
      font-size: 15px;
      color: #000;
    }
  }
}

.calendar-wrap {
  margin: -20px;
}

.form-image-thumb {
  width: 100px;
}
