header {
  padding-bottom: 56px;
}

nav.navbar {
  color: #000;
}

.navbar-brand img {
  width: 110px;
}

.user-type {
  font-size: 20px;
  position: relative;
  top: 2px;
}

.balance-nav-item {
  border: 1px solid #555;
  border-radius: 25px;
  padding: 3px;
}
